* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;}

body {
    font-family: 'Oxygen', sans-serif;}   
a:link, a:visited {
    text-decoration: none;
    color: gainsboro;}
a:hover {
    opacity: .8}   
#menu-container {
    background-color: black;
    opacity: .9;
    display: block;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 8;}
.menu {
    list-style-type: none;
        position: relative;}
.mySlides {
    display: none;}       
.footer {
    background-color: black;
    display: flex;
    height: 20%;
    width: 100%;  
    justify-content: center;}
.return {
    display: flex;
    align-items: center;}


@media only screen and (max-width: 450px) {
    
    #menu-container {
        padding: 15px;}

    .menu {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;}
    
    a:link, a:visited {   
        font-size: 15px;}    

    #about {
        display: flex;
        justify-content: center;
        padding: 1.5rem 2rem 1.5rem 2rem;
        border-bottom: 1px gray solid;
        line-height: 24px;}

    .me {
        font-weight: bold;}

    .text1 {
        font-size: 20px;
        line-height: 40px;}

    .text2 {
        word-spacing: normal;
        font-size: 13px;
        padding-top: 25px;}
    
    .contact {
        display: block;
        align-items: center;
        text-align: center;
        padding: 1.5rem 2rem 1.5rem 2rem; }

    .footer {
        padding: 20px;
    }

    #row {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 2rem 1rem 2rem;
        border-bottom: 1px gray solid;
    }
     
    .column {
          flex: 100%;
          max-width: 100%;
          text-align: center;
      
        }
    
    .column img {
        margin: 1rem 0;
        vertical-align: middle;
        width: 100%;
        
      }
      .work {
        font-size: 30px;
        text-align: center;
        margin-top: 2.5rem;
    }
}

@media only screen and (min-width: 451px) and (max-width: 1199px) {

    #menu-container {
        padding: 30px;}

    .menu {
        display: flex;
        justify-content: flex-end;
        gap: 40px;}

    a:link, a:visited {
        font-size: 20px;}

    #about {
        display: flex;
        justify-content: center;
        padding: 3rem 4rem 3rem 4rem;
        border-bottom: 1px gray solid;
        line-height: 24px;}

    .me {
        font-weight: bold;}
        
    
    .contact {
        display: block;
        align-items: center;
        text-align: center;
        padding: 3rem 4rem 3rem 4rem; }
        
    .text1 {
        font-size: 25px;}

    .text2 {
        word-spacing: normal;
        font-size: 15px;
        padding-top: 10px;}
    
    .footer {
        padding: 40px;
    }

    #row {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        border-bottom: 1px gray solid;
    }
     
    .column {
          flex: 50%;
          max-width: 50%;
          text-align: center;
        }
    
    .column img {
        margin: 1rem 0;
        vertical-align: middle;
        width: 100%;
        
      }
      .work {
        font-size: 40px;
        text-align: center;
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
   
    #menu-container {
        padding: 35px;
    }

    .menu {
        float: right;}

    a:link, a:visited {
        font-size: 30px;}
        
    li {    
        display: inline;
        padding-right: 100px;}
    
    #slideshow-container {
        position: relative;}
        
    #about {
        display: flex;
        justify-content: center;
        padding: 5rem 10rem 5rem 10rem;
        border-bottom: 1px gray solid;}

    p {
        padding-bottom: 25px;
        font-family: 'Oxygen', sans-serif;}

    .me {
        font-weight: bold;}
    
    .contact {
        display: block;
        align-items: center;
        text-align: center;
        padding: 5rem 10rem 5rem 10rem;}
        
    .text1 {
        font-size: 35px;
        padding-bottom: 20px;
        font-weight: 400;}

    .text2 {
        word-spacing: 2cm;}

    .footer {
        padding: 50px;
    }

    #row {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 4rem 3rem 4rem;
        border-bottom: 1px gray solid;
    }
    .work {
        font-size: 50px;
        text-align: center;
        margin-top: 4rem;
    }
    .column {
          flex: 50%;
          max-width: 50%;
          text-align: center;
        }
    
    .column img {
        margin: 3rem 0;
        vertical-align: middle;
        width: 100%;
        
      }
    
      }

