* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: flex-start;
}
.nav {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    opacity: .8;
}

li {
    list-style: none;    
}


@media only screen and (max-width: 767px) {
   .grid-item-2 img {
       width: 100%;
   }
   .grid-item-4 img {
       width: 20%;
   }
}


@media only screen and (min-width: 768px) {
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
.grid-container {   
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    width: 100vw;
}
.grid-item {
    color: white;
    padding: 2rem;
 }

.header {
    background-color: #288BD7;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    position: fixed;
    width:100%; 
    z-index: 1;
}

.grid-item-2 {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    position: relative;
    padding: 2rem 0 !important;
}
.grid-item-2 img{
    width: 100%;
    height: auto;
    padding-top: 1.15rem;
}

.grid-item-3 {
    color: black;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-right: 1px solid gray;
    border-bottom:1px solid gray;
}

.grid-item-4 {
    color: black;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    border-bottom: 1px solid gray;
}
.grid-item-4 img {
    width: 80%;
    height: auto;
}
.grid-item-5 {
    color: black;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}
.grid-item-6 {
    color: black;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    border-right: 1px ridge gray;
}
.grid-item-7 {
    color: black;
    grid-column: 3/4;
    grid-row: 4/5;
    border-right: 1px ridge gray;
}
.grid-item-8 {
    color: black;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    border-right: 1px ridge gray;
}
.grid-item-9 {
    color: black;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}
.grid-item-10 {
    margin-top: 30px;
    grid-column: 1 / 7;
    grid-row: 5/6;
    background-image: url(unsplash/droplet.jpg);
    background-repeat: no-repeat;
    opacity: .3;
    padding: 5rem;
    line-height: 2;
}

.grid-item-11 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    color: black !important;

}

.grid-item-12 {
    grid-column: 3 / 6;
    grid-row: 6 / 7;
    color: black !important;
}

.footer {
    grid-column: 1 / 7;
    grid-row:  7 / 8;
    background-color: #288BD7;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 8rem;
    line-height: 2;

}
.title {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title p {
    text-align: left;
    padding-left: 1rem;
    word-spacing: 1rem;
}
.links {
    column-count: 2;
    grid-column: 2 / 3;

}
.logo-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
}